body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

#clock {
    font-weight: bold;
    font-size: 4rem;
    color: hotpink;
}